body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body,
header ul {
  margin: 0;
  padding: 0;
}

header {
  padding: 1rem;
  background-color: #aa4586;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 0.5rem;
}
.other-links-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

a:hover,
button:hover {
  color: #aa4586;
  background-color: white;
}

a {
  text-decoration: none;
}

ul a {
  color: #eee5e9;
  padding: 0.1rem 0.3rem;
  border: white solid 1px;
}

main {
  margin: 1rem;
}

.active {
  color: #aa4586;
  background-color: white;
  border-color: #efc88b;
}

.product-card {
  display: flex;
  width: 19rem;
  gap: 0.5rem;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 0 10px 1px #0000ff33;
  margin: 1rem;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.btn,
button {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.3rem 0.5rem;

  text-align: center;
  border: 0.05rem solid #aa4586;
  text-decoration: none;
  color: black;
}

.caution {
  color: red;
  border-color: red;
}
.caution:hover {
  background-color: red;
  color: white;
}
.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-form,
.email-inputs,
.password-inputs {
  display: flex;
  flex-direction: column;
}
.login-form {
  gap: 1rem;
  padding: 0 5rem;
  margin-top: 10rem;
  min-width: 17rem;

  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px #0000ff33;
}

.login-form input {
  height: 2rem;
  padding: 0.5rem;
  border: 0.12rem solid black;
  border-radius: 0.5rem;
}

.login-form button {
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.login-form input:hover {
  border: 0.12rem solid #aa4586;
}
.login-form button:hover {
  border-radius: 1rem;
}

.alert-message {
  text-align: center;
  background-color: red;
  opacity: 0.6;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
}

.update-message {
  text-align: center;
  background-color: blue;
  opacity: 0.6;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
}

.main-container-login-page {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup {
  padding: 1rem;
}

.signup a {
  color: #aa4586;
}

form input.invalid {
  border-color: red;
}
